---
layout: default
title: About
---

<div class="col-33">
    <div class="gutter">
        <div class="w-75 m-auto">
            <img src="/assets/img/profile.jpeg" alt="Dandan Diane Feng" class="responsive-img" />
            <figcaption>Photograph: Nana</figcaption>
        </div>
    </div>
</div>
<div class="col-50">
    <div class="gutter">
        <p>Born in 1988, China. Working and living in the Gadigal Country, sovereignty was never ceded.</p>
        <p>
            Diane Dandan Feng is an independent curator whose curatorial practice revolves around hybrid identities,
            algorithmically shaped social actions, digital activism and cyber culture. Feng had worked years in the
            technology industry and cofounded a EdTech startup before she trained as a curator at the University of the
            Arts London.
        </p>
        <h2>Exhibitions</h2>
        <ul class="exhibition-items">
            {% for exhibition in site.data.exhibitions %}
            <li class="exhibition-item"><i>{{ exhibition.name }}</i></li>
            <li class="exhibition-item">
                {{ exhibition.type }} | {{ exhibition.year }} | {{ exhibition.location }} | {{ exhibition.position }}
            </li>
            {% endfor %}
        </ul>
        <h2>Education</h2>
        <ul class="education-items">
            <li class="education-item">
                Master of Curating and Collections (with Merit) | 2020-2021 | University of the Arts London
            </li>
            <li class="education-item">Master of Corporate Management | 2009 - 2013 | Tongji University</li>
        </ul>
        <h2>Experience</h2>
        <ul class="experience-items">
            {% for experience in site.data.experience %}
            <li class="experience-item">
                {{ experience.position }} | {{ experience.company }} | {{ experience.years }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="clear"></div>
