.navbar-container-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container-navbar {
  flex: initial;
  width: 1200px;
  height: 64px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.navbar-container-links-container {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-container-link {
  width: 120%;
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navbar-container-link1 {
  margin-right: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navbar-container-link2 {
  margin-right: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navbar-container-link3 {
  text-decoration: none;
}
.navbar-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.navbar-container-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-image {
  width: 50px;
  object-fit: cover;
}
.navbar-container-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon {
  width: 24px;
  height: 24px;
}
.navbar-container-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.navbar-container-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-container-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-container-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-container-link7 {
  text-decoration: none;
}
.navbar-container-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-container-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-container-icon6 {
  width: 24px;
  height: 24px;
}


@media(max-width: 767px) {
  .navbar-container-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-container-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}

.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text {
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-tenunits);
  font-weight: 700;
  margin-left: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-tenunits);
}
.contact-link {
  display: contents;
}
.contact-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.contact-text1 {
  color: var(--dl-color-primary-100);
  font-size: 4px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 700;
  margin-left: 120px;
  padding-top: 0px;
}
.contact-link1 {
  color: #3a26ef;
  font-size: 4px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  font-weight: 700;
  margin-left: 120px;
  text-decoration:  none;
}
.contact-link2 {
  color: #3a26ef;
  font-size: 4px;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  font-weight: 700;
  margin-left: 120px;
  text-decoration: none;
}
