body {
    font-family: Arial, sans-serif;
    line-height: 2rem;
}

figcaption {
    color: #747474;
    font-size: smaller;
}

.social-media-link {
    text-decoration: none;
    color: black;
}

.bio {
    color: #747474;
}

.responsive-img {
    max-width: 100%;
}

.exhibition-items,
.education-items,
.experience-items {
    padding: 0;
}

.exhibition-item,
.education-item,
.experience-item {
    list-style: none;
}

.page {
    width: 90vw;
    max-width: 1400px;
    margin: 5rem auto 0 auto;
}

p:first-of-type {
    margin-top: 0;
}
